$icon-font-path: "/fonts/";

// bower:scss
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower


.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}


.container {
  padding-bottom: 15px;
}

// Serving this locally to improve pagespeed, original font available here:
//   https://www.google.com/fonts#QuickUsePlace:quickUse/Family:Pacifico
@font-face {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  src: local('Pacifico Regular'), local('Pacifico-Regular'), url(/fonts/pacifico.ttf) format('truetype');
}
header {
  h1 {
    margin: 0px;
    font-family: 'Pacifico', Helvetica;
    font-size: 50px;
  }
  background-color: #FAFAFA;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  text-align: center;
  a { color: slategrey; }
  a:hover {
    text-decoration: none;
    color: darkgrey;
  }
}

.hero {
  img {
    max-width: 85%;
    margin: auto;
  }
}

.no-top-buffer {
  margin-top: 0px;
}
.top-buffer {
  margin-top: 10px;
}
.top-buffer-md {
  margin-top: 15px;
}
.top-buffer-lg {
  margin-top: 30px;
}

.no-label {
  margin-top: 25px;
}


.scoreboard {
  margin-top: 0px;
  font-size: 2em;
  color: slategrey;
  small { font-size: 50%; }
  td { vertical-align: bottom; }
  tr.active { font-weight: bold; }
}

.score-panel {
  .btn-round {
    margin: auto;
  }
}

.btn-round {
  display: block;
  width: 65px;
  height: 65px;
  line-height: 30px;
  font-size: 30px;
  font-weight: bold;
  border: 2px solid #f5f5f5;
  border-radius: 50%;
  text-align: center;
  text-decoration: none;
  color:#f5f5f5;
  background: #464646;
  box-shadow: 0 0 3px gray;
  &:hover {
    color:#f5f5f5;
    background: #262626;
  }
  &.canon { background: white; }
  &.yellow { background: yellow; color: #464646; }
  &.green { background: green; }
  &.blue { background: blue; }
  &.pink { background: #FF64C8; }
  &.black { background: black; }
  &.foul { background: white; color: #E53939; }
  &.poo { background: #9C6D39; }
}
