<table class="scoreboard table top-buffer-lg">
  <thead>
    <tr ng-show="leadText">
      <th><p class="lead">{{leadText}}</p></th>
      <th class="text-right"> </th>
    </tr>
  </thead>
  <tbody>
    <tr ng-hide="players.length"><td><small>...No players yet</small></td></tr>
    <tr ng-click="scorePlayer($index)" ng-repeat="player in players" ng-class="{active: $index==currentPlayerId}">
      <td>{{player.name}}</td>
      <td class="text-center">
        {{player.getScore()}}
        <small>/{{player.target}}</small>
      </td>
    </tr>
  </tbody>
</table>
