<header>
  <h1>Snooker</h1>
  <!-- Image from: https://weheartit.com/entry/81283937 -->
  <img src="images/poo.png" class="img-responsive center" alt="Poo!">
  <p class="lead">
    <em>...I hate this game</em>
  </p>
</header>

<div class="row top-buffer">
  <div class="col-xs-12">
    <a href="#/new" class="no-label btn btn-success btn-block btn-lg">New Game</a>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <a href="#" class="no-label btn btn-success btn-block btn-lg">Rules</a>
  </div>
</div>
