<div class="row">

  <div class="col-md-6">
    <div class="hero">
      <!-- Image from: https://weheartit.com/entry/81283937 -->
      <img src="images/poo.png" class="img-responsive center" alt="Poo!">
      <p class="text-center lead">
        <em>...I hate this game</em>
      </p>
    </div>
  </div>

  <div class="visible-xs visible-sm main-menu col-md-6">
    <a href="#/new" class="no-label btn btn-success btn-block btn-lg">New Game</a>
    <a href="#/rules" class="no-label btn btn-default btn-block btn-lg">Rules</a>
  </div>

  <div class="hidden-xs hidden-sm main-menu col-md-6">
    <a href="#/new" class="no-label btn btn-success btn-square btn-lg">New Game</a>
    <a href="#/rules" class="no-label btn btn-default btn-square btn-lg">Rules</a>
  </div>

</div>
