<form novalidate name="newGame" ng-controller="NewGameCtrl">

  <div class="row">
    <div class="col-md-4">
      <add-player></add-player>
      <div class="top-buffer-lg"></div>
      <new-game-buttons class="visible-lg visible-md"></new-game-buttons>
    </div>

    <div class="col-md-7 col-md-offset-1">

      <table class="game-setup table">
        <thead>
          <tr>
            <th>Player</th>
            <th class="text-center">Target Score</th>
            <th class="text-right">
              <a ng-click="shufflePlayers()">
                <span class="glyphicon glyphicon-random"></span>
              </a>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr ng-show="!players.length">
            <td colspan="3"><em>...No players yet</em></td>
          </tr>
          <tr ng-show="players.length" ng-repeat="player in players" class="animation">
            <td ng-click="foo($index)">{{player.name}}</td>
            <td ng-click="foo($index)" class="text-center">{{player.target}}</td>
            <td>
              <button ng-click="removePlayer($index)" type="button" class="close">
                <span class="glyphicon glyphicon-remove"></span>
              </button>
              <button ng-click="editPlayer($index)" type="button" class="close">
                <span class="glyphicon glyphicon-pencil"></span>
              </button>
            </td>
          </tr>
        </tbody>
      </table>

      <new-game-buttons class="visible-xs visible-sm"></new-game-buttons>

    </div>
  </div>

</form>
