<form novalidate name="newGame" ng-controller="NewGameCtrl">

  <div class="row">
    <div class="col-md-6">

      <div class="row">
        <div class="col-xs-12">
          <label for="playerName">Player Name</label>
          <input required autofocus ng-model="playerName" placeholder="Player Name" class="form-control" id="playerName">
        </div>
      </div>

      <div class="row top-buffer">
        <div class="col-xs-6">
          <label for="targetScore">Target Score</label>
          <input required ng-model="targetScore" type="number" value="31" step="10" min="31" class="form-control" id="targetScore">
        </div>
        <div class="col-xs-6">
          <button ng-click="addPlayer()" ng-disabled="newGame.$invalid" class="no-label btn btn-block">Add player</button>
        </div>
      </div>
    </div>

    <div ng-show="!players.length" class="hidden-md hidden-lg top-buffer-xl"></div>

    <div class="col-md-6">
      <table ng-show="players.length" class="game-setup table top-buffer-lg">
        <thead>
          <tr>
            <th>Player</th>
            <th class="text-center">Target Score</th>
            <th class="text-right">
              <a ng-click="shufflePlayers()">
                <span class="glyphicon glyphicon-random"></span>
              </a>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="player in players" class="animation">
            <td ng-click="foo($index)">{{player.name}}</td>
            <td ng-click="foo($index)" class="text-center">{{player.target}}</td>
            <td>
              <button ng-click="removePlayer($index)" type="button" class="close">
                <span class="glyphicon glyphicon-remove"></span>
              </button>
              <button ng-click="editPlayer($index)" type="button" class="close">
                <span class="glyphicon glyphicon-pencil"></span>
              </button>
            </td>
          </tr>
        </tbody>
      </table>

      <div ng-show="players.length" class="row top-buffer">
        <div class="col-xs-12">
          <a href="#/game" ng-click="resetScores()" class="visible-xs top-buffer btn btn-primary btn-block btn-lg">Start Game</a>
          <a href="#/game/score/0" ng-click="resetScores()" class="hidden-xs top-buffer btn btn-primary btn-block btn-lg">Start Game</a>
        </div>
      </div>

      <div ng-show="players.length" class="row">
        <div class="col-xs-12">
          <button ng-click="resetTargets()" class="top-buffer btn btn-block btn-lg btn-default">Reset</a>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <a href="#/" class="top-buffer btn btn-block btn-lg">Back</a>
        </div>
      </div>
    </div>
  </div>

</form>
